<!DOCTYPE html>
<html>
<head>
	<title>파이썬 예외 처리 교재</title>
</head>
<body>
	<h1>파이썬 예외 처리</h1>
	<p>예외 처리는 프로그램 실행 중에 발생하는 예외 상황을 제어하기 위해 사용되는 기능입니다. 파이썬에서 예외 처리를 위해 사용되는 키워드는 try, except, else, finally입니다.</p>
	<h2>try-except 문</h2>
	<p>try-except 문은 예외가 발생할 가능성이 있는 코드를 실행하고, 예외가 발생하면 해당 예외를 처리하는 코드를 실행합니다. 기본 형식은 아래와 같습니다.</p>
	<pre><code>try:
    # 예외가 발생할 가능성이 있는 코드
except 예외종류 as 예외변수:
    # 예외 처리 코드</code></pre>
	<h2>else 문</h2>
	<p>else 문은 예외가 발생하지 않았을 때 실행할 코드를 지정합니다. try-except-else 문의 형식은 아래와 같습니다.</p>
	<pre><code>try:
    # 예외가 발생할 가능성이 있는 코드
except 예외종류 as 예외변수:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않았을 때 실행할 코드</code></pre>
	<h2>finally 문</h2>
	<p>finally 문은 예외 발생 여부에 상관없이 항상 실행되는 코드를 지정합니다. finally 문의 형식은 아래와 같습니다.</p>
	<pre><code>try:
    # 예외가 발생할 가능성이 있는 코드
except 예외종류 as 예외변수:
    # 예외 처리 코드
finally:
    # 항상 실행할 코드</code></pre>
	<p>이외에도 여러 예외를 동시에 처리하는 방법이나 사용자 정의 예외를 사용하는 방법 등 다양한 예외 처리 기능이 제공됩니다.</p>
</body>
</html>