*{
  margin:0;
  padding: 0;
}

.header {
  background: #1b1d25;
  /* border: 1px solid #2e313d;/ */
  display: flex;
  width:100%;
  height:3rem;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.home-link {
  margin-left:100px;
}
.header-nav {
  margin-right: 100px;
  display: flex;
  gap: 20px;
  font-weight: 600;
}
.header-nav a{
  color: #e6e9f3;
}
.container {
    display: flex;
    
    /* 영역 구분을 위해 선을 설정 */
    border-top: 2px solid #2e313d;
    border-bottom: 2px solid #2e313d;
    height: 41.5rem;
    width: 100%;
    
  }
  .resizer[data-direction="horizontal"] {
    background: #1b1d25;
    cursor: ew-resize;
    height: 100%;
    width: 10px;
  }
  .horizontal-line {
    width: 2px;
    background-color: #2e313d;
    height: 100%;
  }
  .resizer[data-direction="vertical"] {
    background-color: #1b1d25;

    cursor: ns-resize;
    height: 10px;
    width: 100%;
  }
  .left {
    background: #1b1d25;
    /* 초기 크기를 1/4으로 설정 */
    width: 40%;
    
    /* 중앙 정렬 */
    align-items: center;
    /* display: flex; */
    justify-content: center;
    overflow: auto;
    flex-direction: row;
  
  }
  .left::-webkit-scrollbar {
    width: 10px;
  }
  .left::-webkit-scrollbar-thumb {
      background-color: #2f3542;
      border-radius: 10px;
      }
  .left::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
    }
  .right {
    /* left가 차지하고 남은 공간에 따라 유동적으로 변화 */
    flex: 1;
    
  
    /* 중앙 정렬 및 하위 요소 배치를 column 식으로 내려가듯이 배치*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #editor {
    height: 20rem;
}
  .top {
    /* 초기 높이값 지정 */
    height: 18em;
    background-color: #424755;
    color:#e6e9f3;
    /* 중앙 정렬 */
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    width:100%;
  }
 
  
  .center {
    background: #1b1d25;
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttons-left{
    float: left;
    margin-left: 20px;
  }
  .buttons-right{
    float: right;
    margin-right: 20px;
  }
  #run {
    color: #e6e9f3;
    background-color: #424755;
    border: #d8dbe7 1px solid;
    border-radius: 5px;
    padding: 14px 11px; 
  }
  
  #check {
    color: #e6e9f3;
    /* margin-right: -4px; */
    background-color: #424755;
    border: #d8dbe7 1px solid;
    border-radius: 5px;
    padding: 14px 11px; 
    margin-left: 20px;
  }
  #AI-chat {
    color: #e6e9f3;
    background-color: #424755;
    border: #d8dbe7 1px solid;
    border-radius: 5px;
    padding: 14px 11px; 
  }
  #AI-chat:hover, #check:hover, #run:hover {
    background: rgb(90, 66, 105);
    color:#ffffff
  }
 #run, #check, #AI-chat, .header, .top, .bottom{
  font-weight: 900;
 }
 .header a{
  color:black;
  /* font-style: oblique;? */
  text-decoration-line: none;
 }




  .centerline {
    width: 100%;
    background-color: #2e313d;
    height: 2px;

  }
  .bottom {
    color:#e6e9f3;
    /* top이 차지하고 남은 공간에 따라 유동적으로 변화 */
    flex: 1;
    width:100%;
    /* 중앙 정렬 */
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color: #424755;

  }
  
  footer {
    background: #1b1d25;
    color: #e6e9f3;
    /* border: 2px solid #2e313d; */
    display: flex;
    width:100%;
    height:3rem;
    align-items: center;
  }

  
  
  /* popup */
  .chat-content {
    height: 425px; 
    overflow-y: scroll; 
    background-color: #424755;
  }
  .align-items-center {
    align-items: center !important;
  }
  
 
/* side bar */
/* 노멀라이즈 시작 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;   	    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

a {
  color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
  text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 2차 이상의 메뉴를 숨기기 */
.side-bar > ul ul {
  display: none;
}

/* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
/* body {
  height: 5000px;
  background-color: #444;
} */

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
  --side-bar-width: 270px;
  --side-bar-height: 90vh;
}

.side-bar {
  position: fixed;    /* 스크롤을 따라오도록 지정 */
  background-color: #424755;
  width: var(--side-bar-width);
  min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
  margin-top: 0;
}

/* 아이콘 시작 */
.side-bar__icon-box {
  display: flex;
  justify-content: flex-end;
}

.side-bar__icon-1 {
  position: relative;
  width: 23px;
  height: 17px;
  margin: 15px;
  margin-top: 20px;
  transition: .5s;
}

:root {
  --side-bar__icon: .5s;
}

.side-bar__icon-1 > div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: white;
  transition: all var(--side-bar__icon);
}

.side-bar__icon-1 > div:nth-of-type(1) {
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}

.side-bar__icon-1 > div:nth-of-type(2) {
  top: 40%;
  transform-origin:bottom left;
}

.side-bar__icon-1 > div:nth-of-type(3) {
  top: 80%;
  left: auto;
  right: 0;
  transform-origin:bottom right;
}


.side-bar:hover .side-bar__icon-1 {
  transform: translate(-198px, 0);
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(2) {
  transform:rotate(45deg);
  width: 70.5%;
  height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(3) {
  top: 40%;
  transform:rotate(-45deg);
  width: 70.5%;
  height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(1) {
  left: 41%;
  right: 41%;
  height: 100%;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}
/* 아이콘 끝 */
/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
  position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
  background-color: #555;
  border-bottom: 1px solid #999;
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: #888;
  top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
  left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
  width: 100%;    /* 1차 메뉴의 너비를 상속 */
}

/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
  border-radius: 20px;
  transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
  transition: .5s;
}

/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
  transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */}

  @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
/* content */
.book-section {
  /* font-family: 'jejuhallasan', serif; */
  /*웹 폰트 지정*/
  color:#e6e9f3;
  margin: 0px 100px;
  height: 700px
}


	.jm-font{
		font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
		color: orange;
	}