<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>CodeSync</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/resizer.js" defer></script>

</head>
<body>
    <!-- 헤더 -->
    <div class="header">
        <a class="home-link" href="/" style="color: #e6e9f3">CodeSync</a>
        <nav class="header-nav">
            <a href="/" style="color: #e6e9f3">Home</a>
            <a href="/about" style="color: #e6e9f3">User</a>
            <a href="/contact" style="color: #e6e9f3">Setting</a>
        </nav>
    </div>
    <!-- 사이드 바 -->
    <div class="container">
        <aside class="side-bar">
            <section class="side-bar__icon-box">
              <section class="side-bar__icon-1">
                <div></div>
                <div></div>
                <div></div>
              </section>
            </section>
            <ul>
              <li>
                <a href="#"></i>자료형</a>
                <ul>
                    <li><a class="dropdown-item" href="templates/textbook/level1/숫자형.html">01.숫자형</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/문자열 자료형.html">02.문자열 자료형</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/리스트 자료형.html">03.리스트 자료형</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/튜플 자료형.html">04.튜플 자료형</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/딕셔너리 자료형.html">05.딕셔너리 자료형</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/집합 자료형.html">06.집합 자료형</a></li>
                </ul>
              </li>
              <li>
                <a href="#">제어문</a>
                <ul>
                    <li><a class="dropdown-item" href="templates/textbook/level1/if문.html">if문</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/for문.html">for문</a></li>
                    <li><a class="dropdown-item" href="templates/textbook/level1/while문.html">while문</a></li>
                </ul>
              </li>
              
            </ul>
          </aside>
          <!-- content -->
        <div class="left">
            <div class="book-section">
                <div>
                    <h2>파이썬 기초부터 탄탄</h2>
                            
                    <h3>Chapter 1: 파이썬 소개</h3>
                
                    <h4>1.1 파이썬이란?</h4>
                    <p>파이썬은 1991년에 구이도 반 로섬(Guido van Rossum)이 개발한 고수준 프로그래밍 언어입니다. 특히 학습이 쉽고, 가독성 높은 문법으로 인해 초보자들이 프로그래밍을 배우기에 매우 적합한 언어입니다. 또한 파이썬은 오픈 소스 언어로서, 무료로 이용할 수 있으며, 다양한 플랫폼에서 동작합니다.</p>
                
                    <h4>1.2 파이썬의 특징</h4>
                    <ul>
                        <li><strong>간결하고 읽기 쉬운 문법:</strong> 파이썬의 가장 큰 특징 중 하나는 그 간결하고 직관적인 문법입니다. 이는 코드를 쉽게 이해하고 디버그하기 쉽게 만듭니다.</li>
                        <li><strong>동적 타입:</strong> 파이썬은 동적 타입 언어로, 변수의 타입이 실행 시간에 결정됩니다. 이는 코딩을 훨씬 더 유연하게 만듭니다.</li>
                        <li><strong>자동 메모리 관리:</strong> 프로그래머가 직접 메모리를 관리할 필요 없이 파이썬이 자동으로 메모리를 관리합니다.</li>
                        <li><strong>풍부한 라이브러리:</strong> 파이썬은 수많은 표준 라이브러리와 서드 파티 라이브러리를 갖추고 있어, 다양한 작업을 쉽게 수행할 수 있습니다.</li>
                    </ul>
                
                    <h4>1.3 파이썬의 활용 분야</h4>
                    <p>파이썬은 그 유연성과 다양한 라이브러리 덕분에, 광범위한 분야에서 활용되고 있습니다. 웹 개발, 데이터 분석, 인공지능, 머신러닝, 네트워크 프로그래밍 등 다양한 영역에서 파이썬은 주요한 도구로 사용되고 있습니다.</p>
                
                    <h4>1.4 왜 파이썬을 배워야 하는가?</h4>
                    <p>파이썬은 초보자부터 전문가까지 모든 개발자들에게 이점을 제공합니다. 그 간결한 문법은 프로그래밍을 처음 배우는 사람들에게 이상적이며, 그 풍부한 라이브러리와 프레임워크는 복잡한 프로젝트를 처리하는 전문가들에게도 매력적입니다. 또한, 파이썬 커뮤니티는 수많은 개발자들로 이루어져 있어, 학습 자료나 문제 해결에 필요한 도움을 쉽게 얻을 수 있습니다.</p>
                            
                    <p>이 책은 파이썬의 기본 구조부터 시작하여, 파이썬으로 할 수 있는 다양한 것들을 탐색하는 여정을 안내할 것입니다. 이를 통해 여러분은 파이썬의 기본적인 문법과 데이터 타입, 함수, 클래스, 모듈, 패키지, 예외 처리 그리고 표준 라이브러리의 사용법 등을 배울 수 있을 것입니다.</p>
                
                    <p>많은 여정이 여러분을 기다리고 있습니다. 파이썬의 세계로 함께 떠나 봅시다!</p>
                </div>
            </br>
            </br>
            </br>
                <div class="centerline"></div>
            </br>
            </br>
            </br>
            <!-- 문제출제 -->
                <div class="col-4">
                    <div>
                        <p id="exam-box">문제가 들어갈 페이지</p>
                    </div>
                </br>
                </br>
                    <div>
                        <p>문제입력 페이지</p>
                        <div>
                            <textarea id="answer" cols="50" rows="10"></textarea>
                            <button id="send">Send</button>
                            <button id="next">next</button>
                        </div>
                    </div>
                </div>
            </div>
                
            
        </div>
        <div class="resizer" data-direction="horizontal"></div>
        <div class="horizontal-line"></div>

        <div class="right">
            <!-- 코드 편집기 -->
            <div id="editor" class="top">코드를 입력하세요..</div>
            <div class="resizer" data-direction="vertical"></div>
            <div class="centerline"></div>
            <div class="center">
            <!-- 코드 실행 버튼 -->
                <div class="buttons-left">
                    <button id="run">RUN</button>
                    <button id="check">CHECK</button>
                </div>
                <!-- pop ub -->
                <div class="buttons-right">
                    <input id="AI-chat" type="button" value="AI Chatbot" onclick="showPopup();"/>
                </div>
            </div>
            <!-- 코드 출력 부분 -->
            <div class="centerline"></div>
            <div class="bottom">output</div>
            </div>
        </div>
        <footer></footer>
    <script src="static/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <!-- editor -->
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/python");
    </script>

    <!-- contents -->
    <script>
        $(document).ready(function(){           //웹 페이지가 완전히 로드된 후에 실행
            // 챕터를 선택하면 챕터에 맞게 교재 부분을 변경
            $(".dropdown-item").click(function(event){
                event.preventDefault();         // 기본 클릭 동작이 되지않도록 제어
    
                var href = $(this).attr('href');            // 클릭된 링크의 href 값을 가져옴
    
                // href 값을 서버에 전달
                $.ajax({
                    url: "/content/render_template",
                    type: "POST",
                    data: JSON.stringify({title: href}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        // JSON에서 교재와 문제 내용을 가져옴
                        var html_content = data['html'];
                        var exam_html = data['exam_html'];
    
                        // 기존의 내용을 지우고 새로운 내용을 추가
                        $(".book-section").html(html_content);
                        $("#exam-box").html(exam_html);
                    }
                });
            });

            // 문제 정오답 체크 - 문제와 사용자 입력을 전달해 정오답 알림 띄우기
            $("#send").click(function(){
                // id를 통해 값 가져오기
                var plob = $("#exam").val();
                var answer = $("#answer").val();

                // 서버에 전달
                $.ajax({
                    url: "/content/check_answer",
                    type: "POST",
                    data: JSON.stringify({answer: answer, plob:plob}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        // 서버에서 반환한 메시지를 팝업으로 띄움
                        alert(data['message']);
                    }
                });
            });

            // 다음 문제 출력
            $("#next").click(function(){
                $.ajax({
                    url: "/content/next_plob",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        var exam_html = data['exam_html'];
                        $("#exam-box").html(exam_html);     // 서버에서 받아온 문제 출력
                        $("#answer").val('');               // textarea 리셋
                    }
                });                    
            });                
        });
    </script>
     
</body>
</html>