<!DOCTYPE html>
<html>
<head>
    <title>Code Editor</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <textarea id="code" rows="10" cols="50"></textarea>
    <button id="runButton">Run</button>
    <pre id="output"></pre>
    <pre id="error"></pre>
    
    <script>
        $(document).ready(function() {
            $('#runButton').click(function() {
                let code = $('#code').val();
                
                $.ajax({
                    url: '/execute',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'code': code }),
                    success: function(response) {
                        $('#output').text(response.output);
                        $('#error').text(response.error);
                    },
                    error: function() {
                        $('#output').text('');
                        $('#error').text('An error occurred.');
                    }
                });
            });
        });
    </script>
</body>
</html>